prompt 5
default {{ default_hostname }}
timeout 5

label {{ default_hostname }}
kernel vmlinuz
append initrd=initrd.img ksdevice={{ oraclelinux7_iface0 }} kssendmac ks=http://{{ dhcpd_webserver }}/ol74-ks.cfg 
